@model libraryMVC.Models.LoginViewModel

<div class="container col-xl-10 col-xxl-8 px-4 py-5">
    <div class="row align-items-center g-lg-5 py-5">
        <div class="col-lg-7 text-center text-lg-start">
            <h1 class="display-4 fw-bold lh-1 mb-3">Kütüphane Otomasyonuna Hoş Geldiniz</h1>
            <p class="col-lg-12 fs-4">Tek tıkla kitabı kiralama ve teslim noktalarından teslim etme. Basit arama, kayıt ekleme, kayıt güncelleme ve daha fazlası.</p>
        </div>
        <div class="col-md-10 mx-auto col-lg-5">
            <form asp-action="GirisYap" asp-controller="Hesap" class="p-4 p-md-5 border rounded-3 bg-light">
                <input type="hidden" name="ReturnUrl" value=@ViewData["ReturnUrl"]>
                <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                <div class="@ViewBag.Class">@ViewBag.Message</div>
                <div class="form-floating mb-3">
                    @Html.LabelFor(x=>x.EPosta)
                    @Html.TextBoxFor(x=>x.EPosta,new{@class="form-control",placeholder="Eposta Adresiniz"})
                    <span class="text-danger" asp-validation-for="EPosta"></span>
                </div>
                <div class="form-floating mb-3">
                    @Html.LabelFor(x=>x.Sifre)
                    @Html.PasswordFor(x=>x.Sifre,new{@class="form-control",placeholder="Şifreniz"})
                    <span class="text-danger" asp-validation-for="Sifre"></span>
                </div>
                <div class="checkbox mb-3">
                    <label>
                        @Html.CheckBoxFor(x=>x.RememberMe) Beni Hatırla
                    </label>
                </div>
                <button class="w-100 btn btn-lg btn-primary mb-2" type="submit">Giriş Yap</button>
                Hesabınız yok mu? Kayıt olmak için&nbsp;<a style="text-decoration: none;" asp-action="KayitOl">tıklayınız.</a>
                <hr class="my-4">
                <small class="text-muted">Giriş yaptığınızda, kullanım haklarını kabul etmiş olursunuz.</small>
            </form>
        </div>
    </div>
</div>
@section Scripts{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}