@model libraryMVC.Models.RegisterViewModel

<div class="container col-xl-10 col-xxl-8 px-4 py-5">
    <div class="row align-items-center g-lg-5 py-5">
        <div class="col-lg-7 text-center text-lg-start">
            <h1 class="display-4 fw-bold lh-1 mb-3">Kütüphane Otomasyonuna Hoş Geldiniz</h1>
            <p class="col-lg-12 fs-4">Hemen kayıt olun ve tek tıkla kitabı kiralayın, teslim noktalarından teslim edin.</p>
        </div>
        <div class="col-md-10 mx-auto col-lg-5">
            <form asp-action="KayitOl" asp-controller="Hesap" class="p-4 p-md-5 border rounded-3 bg-light">
                <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                <div class="@ViewBag.Class">@ViewBag.Message</div>
                <div class="form-floating mb-3">
                    @Html.LabelFor(x=>x.UyeAd)
                    @Html.TextBoxFor(x=>x.UyeAd,new{@class="form-control",placeholder="Eposta Adresiniz"})
                    <span class="text-danger" asp-validation-for="UyeAd"></span>
                </div>
                <div class="form-floating mb-3">
                    @Html.LabelFor(x=>x.UyeSoyad)
                    @Html.TextBoxFor(x=>x.UyeSoyad,new{@class="form-control",placeholder="Eposta Adresiniz"})
                    <span class="text-danger" asp-validation-for="UyeSoyad"></span>
                </div>
                <div class="form-floating mb-3">
                    @Html.LabelFor(x=>x.Email)
                    @Html.TextBoxFor(x=>x.Email,new{@class="form-control",placeholder="Eposta Adresiniz"})
                    <span class="text-danger" asp-validation-for="Email"></span>
                </div>
                <div class="form-floating mb-3">
                    @Html.LabelFor(x=>x.Sifre)
                    @Html.PasswordFor(x=>x.Sifre,new{@class="form-control",placeholder="Şifreniz"})
                    <span class="text-danger" asp-validation-for="Sifre"></span>
                </div>
                <div class="form-floating mb-3">
                    @Html.LabelFor(x=>x.SifreTekrar)
                    @Html.PasswordFor(x=>x.SifreTekrar,new{@class="form-control",placeholder="Şifre Tekrarı"})
                    <span class="text-danger" asp-validation-for="SifreTekrar"></span>
                </div>
                <button class="w-100 btn btn-lg btn-primary" type="submit">Kayıt Ol</button>
                <hr class="my-4">
                <small class="text-muted">Kayıt olduğunuzda, kullanım haklarını kabul etmiş olursunuz.</small>
            </form>
        </div>
    </div>
</div>