@model IEnumerable<libraryMVC.Models.Uye>


<a asp-action="CreateUyeler" class="btn btn-outline-primary btn-sm mt-2">Yeni
    Üye Oluştur</a>
<div class="jumbotron mt-2">
    <h2 style="float:left;" class="text-info">Üye Listesi</h2>
    <div class="searchSection">
        <input class="form-control" style="max-width: 100px;" placeholder="ID" id="id" type="number" />&nbsp;
        <input class="form-control" style="max-width: 200px;" placeholder="Ara" id="searchString" type="text" />
    </div>
    <table class="table table-hover mt-3 table-striped">
        <thead>
            <th>Üye No</th>
            <th>Üye Adı</th>
            <th>Üye Soyadı</th>
            <th>Üye Telefonu</th>
            <th>Üye E-postası</th>
            <th>Üye Adres</th>
            <th>İşlemler</th>
        </thead>
        @foreach (var item in Model)
        {
            <tr id="@item.UyeNo" style="transition:all .5s">
                <td>@item.UyeNo</td>
                <td>
                    @if (@item.UyeAd.Contains("^") == true)
                    {
                        <p>-</p>
                    }
                    else
                    {
                        @item.UyeAd
                    }
                </td>
                <td>
                    @if (@item.UyeSoyad.Contains("^") == true)
                    {
                        <p>-</p>
                    }
                    else
                    {
                        @item.UyeSoyad
                    }
                </td>
                <td>@item.UyeTelefon</td>
                <td>@item.UyeEposta</td>
                <td>
                    @if (@item.UyeAdres.Contains("^") == true)
                    {
                        <p>-</p>
                    }
                    else
                    {
                        @item.UyeAdres
                    }

                </td>
                <td>
                    <!-- Button trigger modal -->
                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#modal@(item.UyeNo)">
                        Sil
                    </button>
                    <a class="btn btn-primary text text-white" asp-action="EditUyeler" asp-route-id="@item.UyeNo"
                    role="button">Düzenle</a>
                    <!-- Modal -->
                <div class="modal fade" id="modal@(item.UyeNo)" role="dialog" tabindex="-1"
                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Kayıt Siliniyor</h5>
                                    <button type="button" class="btn-close" data-dismiss="modal"
                                    aria-label="Close">X</button>
                                </div>
                                <div class="modal-body">
                                    <span class="text-danger">@item.UyeAd - @item.UyeSoyad - @item.UyeEposta</span>
                                    <br>
                                    Bu Kaydı Silmek İstediğinizden Emin misiniz?
                                </div>
                                <div class="modal-footer">
                                    <!-- Button trigger modal -->
                                    <a class="btn btn-secondary text text-white" data-dismiss="modal"
                                        role="button">İptal</a>
                                        <a class="btn btn-danger text text-white" asp-action="DeleteUyeler"
                                        asp-route-id="@item.UyeNo" role="button">Sil</a>
                                </div>
                            </div>
                        </div>
                </td>
            </tr>
        }
    </table>
</div>
<a style="float:left; margin-bottom:100px;" asp-action="CreateUyeler" class="btn btn-outline-primary btn-sm mx-2">Yeni
    Üye Oluştur</a>

@section Scripts{
<script>
    $(document).ready(function () {
        let getid = window.location.href.split("#")[1];
        $("tr#"+getid).addClass("bg-warning");
        setTimeout(()=>{
            $("tr#"+getid).removeClass("bg-warning");
        },1000)
    })
</script>
}
