@model libraryMVC.Models.Kitap

<hr>
<div class="jumbotron mt-5">
    <div class="row ml-4">
        <div class="col-md-6">
            <form asp-action="EditKitaplar" id="editKitaplarForm">
                <input type="hidden" asp-for="KitapNo" />
                <div class="row">
                    <div class="col-md-12 mb-3">
                        <h2 class="display-4 text-primary">Kitabı Düzenle</h2>
                    </div>
                    <div class="col-md-12 mb-3">
                        <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                    </div>
                    <div class="col-md-6">
                        @Html.LabelFor(k=>k.KitapAd)
                        @Html.TextBoxFor(k=>k.KitapAd,new{@class="form-control"})
                        <span class="text-danger" asp-validation-for="@Model.KitapAd"></span>
                    </div>
                    <div class="col-md-6">
                        @Html.LabelFor(k=>k.KitapYazari)
                        @Html.TextBoxFor(k=>k.KitapYazari,new{@class="form-control"})
                        <span class="text-danger" asp-validation-for="@Model.KitapYazari"></span>
                    </div>
                    <div class="col-md-12">
                        @Html.LabelFor(k=>k.KitapBaskiYil)
                        @Html.TextBoxFor(k=>k.KitapBaskiYil,new{@class="form-control"})
                        <span class="text-danger" asp-validation-for="@Model.KitapBaskiYil"></span>
                    </div>
                    <div class="col-md-12">
                        @Html.LabelFor(k=>k.KitapSayfaSayi)
                        @Html.TextBoxFor(k=>k.KitapSayfaSayi,new{@class="form-control"})
                        <span class="text-danger" asp-validation-for="@Model.KitapSayfaSayi"></span>
                    </div>
                    <div class="col-md-12">
                        @Html.LabelFor(k=>k.KitapDil)
                        @Html.TextBoxFor(k=>k.KitapDil,new{@class="form-control"})
                        <span class="text-danger" asp-validation-for="@Model.KitapDil"></span>
                    </div>
                    <div class="col-md-12">
                        @Html.LabelFor(k=>k.KitapYayinEvi)
                        @Html.TextBoxFor(k=>k.KitapYayinEvi,new{@class="form-control"})
                        <span class="text-danger" asp-validation-for="@Model.KitapYayinEvi"></span>
                    </div>
                    <div class="col-md-12">
                        @Html.LabelFor(k=>k.KitapAciklama)
                        @Html.TextAreaFor(k=>k.KitapAciklama,new{@class="form-control",style="min-height:140px;max-height:150px;"})
                        <span class="text-danger" asp-validation-for="@Model.KitapAciklama"></span>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Kaydet</button>
            </form>
        </div>
    </div>
</div>
<a style="float:left; margin-bottom:100px;" asp-action="Kitaplar" class="btn btn-outline-secondary btn-sm mx-2">Listeye
    Geri Dön</a>

@section Scripts{
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
<script>
    $(document).ready(function () {

    })
</script>
}
