@model IEnumerable<libraryMVC.Models.Kitap>

<div class="jumbotron mt-5">
    <h2 style="float:left;" class="text-info">Kitap Listesi</h2>
    <div class="searchSection">
        <input class="form-control" style="max-width: 100px;" placeholder="ID" id="id" type="number" />&nbsp;
        <input class="form-control" style="max-width: 200px;" placeholder="Ara" id="searchString" type="text" />
    </div>
    <table class="table table-hover mt-3" id="kitaplarTable">
        <thead>
            <th>Kitap No</th>
            <th>Kitap Adı</th>
            <th>Kitap Yazarı</th>
            <th>Kitap Baskı Yılı</th>
            <th>Kitap Sayfa Sayısı</th>
            <th>Kitap Dili</th>
            <th>Kitap Yayın Evi</th>
            <th>Kitap Açıklama</th>
            <th width="155px">İşlemler</th>
        </thead>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.KitapNo</td>
                <td>
                    @if (@item.KitapAd.Contains("^") == true)
                    {
                        <p>-</p>
                    }
                    else
                    {
                        @item.KitapAd
                    }
                </td>
                <td>
                    @if (@item.KitapYazari.Contains("^") == true)
                    {
                        <p>-</p>
                    }
                    else
                    {
                        @item.KitapYazari
                    }
                </td>
                <td>@item.KitapBaskiYil</td>
                <td>@item.KitapSayfaSayi</td>
                <td>
                    @if (@item.KitapDil.Contains("^") == true)
                    {
                        <p>-</p>
                    }
                    else
                    {
                        @item.KitapDil
                    }
                </td>
                <td>
                    @if (@item.KitapYayinEvi.Contains("^") == true)
                    {
                        <p>-</p>
                    }
                    else
                    {
                        @item.KitapYayinEvi
                    }
                </td>
                <td>
                    @if (@item.KitapAciklama.Contains("^") == true)
                    {
                        <p>-</p>
                    }
                    else
                    {
                        @item.KitapAciklama
                    }
                </td>
                <td>
                    <!-- Button trigger modal -->
                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#modal@(item.KitapNo)">
                        Sil
                    </button>
                    <a class="btn btn-primary text text-white" asp-action="EditKitaplar" asp-route-id="@item.KitapNo"
                    role="button">Düzenle</a>
                    <!-- Modal -->
                <div class="modal fade" id="modal@(item.KitapNo)" role="dialog" tabindex="-1"
                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Kayıt Siliniyor</h5>
                                    <button type="button" class="btn-close" data-dismiss="modal"
                                    aria-label="Close">X</button>
                                </div>
                                <div class="modal-body">
                                    <span class="text-danger">@item.KitapNo - @item.KitapAd</span>
                                    <br>
                                    Bu Kaydı Silmek İstediğinizden Emin misiniz?
                                </div>
                                <div class="modal-footer">
                                    <a class="btn btn-secondary text text-white" data-dismiss="modal">İptal</a>
                                    <a class="btn btn-danger text text-white" asp-action="DeleteKitaplar"
                                    asp-route-id="@item.KitapNo">Sil</a>
                                </div>
                            </div>
                        </div>

                    </div>
                </td>
            </tr>

        }

    </table>
</div>
<a style="float:left; margin-bottom:100px;" asp-action="CreateKitaplar"
    class="btn btn-outline-secondary btn-sm mx-2">Yeni Kitap Oluştur</a>

@section Scripts{
<script>
    $(document).ready(function () {
        let searchString = $("#searchString");
        let kitaplarTable = $("#kitaplarTable");
        searchString.keyup(function () {
            if(searchString.val() == ""){

            }
            if (searchString.val().length > 1) {
                $.ajax({
                    url: "/Kitap/KitaplarSearchBySearchString?searchString=" + searchString.val(),
                    method: "GET",
                     @* data: { searchString: searchString.val() }, *@
                    success: function (datas) {
                        console.log(datas)
                        let html = "";
                        datas.forEach(data => {
                            html += `
                            <tr>
                                <td>${data.kitapNo}</td>
                                <td>${data.kitapAd}</td>
                                <td>${data.kitapYazari}</td>
                                <td>${data.kitapBaskiYil}</td>
                                <td>${data.kitapSayfaSayi}</td>
                                <td>${data.kitapDil}</td>
                                <td>${data.kitapYayinEvi}</td>
                                <td>${data.kitapAciklama}</td>
                                <td>
                                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#modal${data.kitapNo}">
                                        Sil
                                    </button>
                                    <a style="cursor:pointer;" class="btn btn-primary text text-white" onClick="window.location.href='/Kitap/EditKitaplar/${data.kitapNo}'"
                                    role="button">Düzenle</a>
                                    <!-- Modal -->
                                    <div class="modal fade" id="modal${data.kitapNo}" role="dialog" tabindex="-1"
                                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel">Kayıt Siliniyor</h5>
                                                    <button type="button" class="btn-close" data-dismiss="modal"
                                                    aria-label="Close">X</button>
                                                </div>
                                                <div class="modal-body">
                                                    <span class="text-danger">${data.kitapNo} - ${data.kitapAd}</span>
                                                    <br>
                                                    Bu Kaydı Silmek İstediğinizden Emin misiniz?
                                                </div>
                                                <div class="modal-footer">
                                                    <a class="btn btn-secondary text text-white" data-dismiss="modal">İptal</a>
                                                    <a class="btn btn-danger text text-white" asp-action="DeleteKitaplar"
                                                    asp-route-id="${data.kitapNo}">Sil</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            `
                        })
                        kitaplarTable.empty();
                        kitaplarTable.append(html);
                    },
                    error: function (error) { console.log(error) }
                })
            }
        })
    })
</script>
}
