@model IEnumerable<libraryMVC.Models.Kitap>

<div class="jumbotron mt-5">
    <h2 class="text-info">Kitap Listesi</h2>
    <table class="table table-hover mt-3">
        <thead>
            <th>Kitap No</th>
            <th>Kitap Adı</th>
            <th>Kitap Yazarı</th>
            <th>Kitap Baskı Yılı</th>
            <th>Kitap Sayfa Sayısı</th>
            <th>Kitap Dili</th>
            <th>Kitap Yayın Evi</th>
            <th>Kitap Açıklama</th>
            <th>İşlemler</th>
        </thead>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.KitapNo</td>
                <td>@item.KitapAd</td>
                <td>@item.KitapYazari</td>
                <td>@item.KitapBaskiYil</td>
                <td>@item.KitapSayfaSayi</td>
                <td>@item.KitapDil</td>
                <td>@item.KitapYayinEvi</td>
                <td>@item.KitapAciklama</td>
                <td>
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#modal@(item.KitapNo)">
                    Sil
                    </button>
                    <a asp-action="EditKitaplar" asp-route-id="@item.KitapNo">Düzenle</a>
                    <!-- Modal -->
                    <div class="modal fade" id="modal@(item.KitapNo)" role="dialog" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Kayıt Siliniyor</h5>
                                    <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">X</button>
                                </div>
                                <div class="modal-body">
                                    <span class="text-danger">@item.KitapNo - @item.KitapAd</span>
                                    <br>
                                    Bu Kaydı Silmek İstediğinizden Emin misiniz?
                                </div>
                                <div class="modal-footer">
                                    <a class="text text-secondary" data-dismiss="modal">İptal</a>
                                    <a class="text text-danger"asp-action="DeleteKitaplar" asp-route-id="@item.KitapNo">Sil</a>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </td>
            </tr>
            
        }
        
    </table>
</div>
<a style="float:left; margin-bottom:100px;"asp-action="Kitaplar" class="btn btn-outline-secondary btn-sm mx-2">Listeye Geri Dön</a>

