@model libraryMVC.Models.Emanet


<a style="margin-bottom:10px;" asp-action="Emanetler" class="btn btn-outline-secondary btn-sm mx-2">Listeye Geri
    Dön</a>
<hr>
<div class="jumbotron mt-5">
    <div class="row">
        <div class="col-6">
            <form asp-action="EditEmanetler" id="editEmanetlerForm">
                <div class="col-md-12 mb-3">
                    <h2 class="display-4 text-primary">Emaneti Düzenle</h2>
                </div>
                <div class="col-md-12a">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                </div>
                <input type="hidden" asp-for="EmanetNo" />
                <div class="row">
                    <div class="col-md-6 mb-3">
                        @Html.LabelFor(e=>e.UyeNo)
                        <input required asp-for="UyeNo" type="number" class="form-control" id="uyeNo"
                            aria-describedby="emailHelp">
                        <div id="uyeNo" class="form-text"></div>
                    </div>
                    <div class="col-md-6 mb-3">
                        @Html.LabelFor(e=>e.KitapNo)
                        <input required asp-for="KitapNo" type="number" class="form-control" id="KitapNo"
                            aria-describedby="emailHelp">
                    </div>
                    <div class="col-md-12 mb-3">
                        @Html.LabelFor(e=>e.EmanetVermeTarih)
                        <input required asp-for="EmanetVermeTarih" type="date" class="form-control" id="EmanetVerme"
                            aria-describedby="emailHelp">
                    </div>
                    <div class="col-md-12 mb-3">
                        @Html.LabelFor(e=>e.EmanetGeriAlmaTarih)
                        <input required asp-for="EmanetGeriAlmaTarih" type="date" class="form-control" id="EmanetAlma"
                            aria-describedby="emailHelp">
                    </div>
                    <div class="col-md-12 mb-3">
                        @Html.LabelFor(e=>e.EmanetIslemTarih)
                        <input required asp-for="EmanetIslemTarih" type="date" class="form-control" id="EmanetIslem"
                            aria-describedby="emailHelp">
                    </div>
                    <div class="col-md-12 mb-3">
                        @Html.LabelFor(e=>e.EmanetNot)
                        <input asp-for="EmanetNot" type="text" class="form-control" id="EmanetNot"
                            aria-describedby="emailHelp" maxlength="30">
                    </div>
                    <div class="col-md-12 mb-3">
                        @Html.LabelFor(e=>e.EmanetTeslimEdildi)
                        <select class="form-control" asp-for="EmanetTeslimEdildi" id="EmanetTeslim"
                            aria-label="Floating label select example">
                            <option selected>Lütfen Birini seçiniz.</option>
                            <option value="Teslim Edilmedi">Teslim Edilmedi</option>
                            <option value="Teslim Edildi">Teslim Edildi</option>
                            <option value="Sürüyor">Sürüyor</option>
                        </select>
                    </div>
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-primary">Kaydet</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<a style="margin-bottom:100px;" asp-action="Emanetler" class="btn btn-outline-secondary btn-sm mx-2">Listeye Geri
    Dön</a>

@section Scripts{
<script>
    $(document).ready(function () {
        @* $("#editEmanetlerForm").submit(function () {
                let data = $("#editEmanetlerForm").serializeArray();
                $.ajax({
                url: "/Emanet/EditEmanetler",
                method: "POST",
                data: data,
                success: function () {
                showSuccessAlert("Kaydetme Başarılı!\nEmanetler'e yönlendiriliyorsunuz");
                setTimeout(() => {
                window.location.href = "/Emanet/Emanetler";
                }, 2500)
                },
                error: function () {
                showErrorAlert("Kaydetme Başarısız!");
                }
                })
                return false;
                }) *@
    })
</script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}