@model IEnumerable<libraryMVC.Dtos.EmanetDto>
@using System;
@using System.Collections.Generic;
@using System.Diagnostics;


<div class="jumbotron mt-5">
    <h2 style="float:left;" class="text-info">Emanet Listesi</h2>
    <div class="searchSection">
        <input class="form-control" style="max-width: 100px;" placeholder="ID" id="id" type="number" />&nbsp;
        <input class="form-control" style="max-width: 200px;" placeholder="Ara" id="searchString" type="text" />
    </div>
    <table class="table table-responsive table-hover mt-3 table-striped">
        <thead>
            <th>Emanet No</th>
            <th>Üye Ad Soyad</th>
            <th>Kitap Ad</th>
            <th>Emanet Verme Tarihi</th>
            <th>Emanet Geri Alma Tarihi</th>
            <th>Emanet İşlem Tarihi </th>
            <th>Emanet Not</th>
            <th>Emanet Teslim Edildi</th>
            <th width="155px">İşlemler</th>
        </thead>
        @foreach (var item in Model)
        {
            string userUrl = Url.Action("Uyeler","Uye")+"#"+item.Uye.UyeNo;
            <tr>
                <td>@item.EmanetNo</td>
                <td>
                    <a href="@userUrl">@item.Uye.UyeAd @item.Uye.UyeSoyad</a>
                </td>
                <td>@item.Kitap.KitapAd</td>
                <td>@item.EmanetVermeTarih</td>
                <td>@item.EmanetGeriAlmaTarih</td>
                <td>@item.EmanetIslemTarih</td>
                <td>
                    @if (@item.EmanetNot.Contains("^") == true)
                    {
                        <p>-</p>
                    }
                    else
                    {
                        @item.EmanetNot
                    }

                </td>
                <td>

                    @if (@item.EmanetTeslimEdildi == "Sürüyor")
                    {
                        <p class="text-primary">Sürüyor.</p>
                    }
                    else if (@item.EmanetTeslimEdildi == "Teslim Edildi")
                    {
                        <p class="text-success">Teslim Edildi.</p>
                    }
                    else
                    {
                        <p class="text-danger">Teslim Edilmedi.</p>
                    }
                </td>
                <td>
                    <!-- Button trigger modal -->
                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#modal@(item.EmanetNo)">
                        Sil
                    </button>
                    <a class="btn btn-primary text text-white" asp-action="EditEmanetler" asp-route-id="@item.EmanetNo"
                    role="button">Düzenle</a>
                    <!-- Modal -->
                <div class="modal fade" id="modal@(item.EmanetNo)" role="dialog" tabindex="-1"
                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Kayıt Siliniyor</h5>
                                    <button type="button" class="btn-close" data-dismiss="modal"
                                    aria-label="Close">X</button>
                                </div>
                                <div class="modal-body">
                                    <span class="text-danger">@item.EmanetNo - @item.EmanetTeslimEdildi</span>
                                    <br>
                                    Bu Kaydı Silmek İstediğinizden Emin misiniz?
                                </div>
                                <div class="modal-footer">
                                    <a class="btn  btn-secondary text text-white" data-dismiss="modal"
                                    role="button">İptal</a>
                                    <a class="btn btn-danger text text-white" asp-action="DeleteEmanetler"
                                    asp-route-id="@item.EmanetNo" role="button">Sil</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>

        }

    </table>

</div>
<a style="float:left; margin-bottom:100px;" asp-action="CreateEmanetler"
    class="btn btn-outline-secondary btn-sm mx-2">Yeni Emanet Oluştur</a>
